{% macro sbs71(sbsId, sbsTitle, sbsText) %}
    <section id="{{ sbsId }}">
        <div class="cs-container">
            <picture class="cs-picture">
                <source
                    media="(max-width: 600px)"
                    srcset="
                        https://csimg.nyc3.digitaloceanspaces.com/SideBySide/body-builder-m.jpg
                    "
                />
                <source
                    media="(min-width: 601px)"
                    srcset="
                        https://csimg.nyc3.digitaloceanspaces.com/SideBySide/body-builder.jpg
                    "
                />
                <img
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/body-builder.jpg"
                    alt="body builder"
                    width="500"
                    height="552"
                    aria-hidden="true"
                />
            </picture>
            <div class="cs-content">
                <h2 class="cs-title">{{ sbsTitle }}</h2>

                {# <p class="cs-text">{{ sbsText }}</p> #}
                {% for p in sbsText %}
                    <p class="cs-text">{{ p }}</p>
                {% endfor %}
                <a
                    class="cs-button-solid"
                    aria-label="learn more about our programs"
                    href=""
                    >En savoir plus</a
                >
            </div>
        </div>
    </section>
{% endmacro %}
