{% macro sbs71(sbsClass, sbsTitle, sbsText, sbsImgUrl) %}
    <section class="{{ sbsClass }}">
        <div class="cs-container">
            <picture class="cs-picture">
                <source
                    media="(max-width: 600px)"
                    srcset="
                        {% getUrl sbsImgUrl | resize({width: 800, position: "attention"}) | webp %}
                    "
                />
                <source
                    media="(min-width: 601px)"
                    srcset="
                        {% getUrl sbsImgUrl | resize({width: 1000, position: "attention"}) | webp %}
                    "
                />
                <img
                    loading="lazy"
                    decoding="async"
                    src="{% getUrl sbsImgUrl | resize({width: 1000, position: "attention"}) | webp %}"
                    alt="body builder"
                    width="500"
                    height="333"
                    aria-hidden="true"
                />
            </picture>
            <div class="cs-content">
                <h2 class="cs-title">{{ sbsTitle }}</h2>

                {% for p in sbsText %}
                    <p class="cs-text">{{ p }}</p>
                {% endfor %}
                <a
                    class="cs-button-solid"
                    aria-label="learn more about our programs"
                    href=""
                    >En savoir plus</a
                >
            </div>
        </div>
    </section>
{% endmacro %}
