---
title: "Contact | Club de langues"
description: "Nous contacter"
permalink: "contact/"
eleventyNavigation:
    key: Contact
    order: 10000
    hideOnDesktop: true
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/contact.css" />
    <link rel="stylesheet" href="/assets/css/contentPages.css" />
{% endblock %}

{% block body %}
    {# <!-- ============================================ -->
    <!--                   Content Page               -->
    <!-- ============================================ --> #}
    <section id="content-page-715">
        <div class="cs-container">
            <div class="cs-content">
                <h1 class="cs-title">
                    Informations pratiques /
                    <span class="cs-color"> Contact</span>
                </h1>
                <h2>Comment s'inscrire?</h2>
                <p class="cs-text">Les inscriptions peuvent être prises :</p>
                <ul>
                    <li>
                        Au cours des forums des associations, début septembre
                    </li>
                    <li>
                        Au cours des journées portes ouvertes au Club à la
                        mi-juin et dans les trois semaines qui suivent les
                        Forums
                    </li>
                    <li>
                        Toute l'année auprès du secrétariat ou par
                        correspondance
                    </li>
                </ul>
                <h2>Documents utiles (format pdf)</h2>
                <a class="cs-button-solid" href=""
                    >Liste des cours collectifs</a
                >
                <a class="cs-button-solid" href=""
                    >Convention formation professionnelle</a
                >
                <a class="cs-button-solid" href="">Fiches d'inscription</a>
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                   Contact                    -->
    <!-- ============================================ -->

    <section id="contact-569">
        <div class="cs-container">
            <div class="cs-left">
                <div class="cs-content">
                    <h2 class="cs-title">Secrétariat</h2>
                    <p class="cs-text">
                        Permanences les lundis, mercredis et jeudis de 14h à
                        19h, du 1er septembre au 30 juin, sauf congés scolaires
                        et jours fériés.
                    </p>
                </div>
                <!--Form-->
                <form
                    class="cs-form"
                    id="cs-form-569"
                    name="Contact Form"
                    method="post"
                >
                    <label class="cs-label">
                        Name
                        <input
                            class="cs-input"
                            required
                            type="text"
                            id="name-569"
                            name="name"
                            placeholder="Nom"
                        />
                    </label>
                    <label class="cs-label">
                        Email
                        <input
                            class="cs-input"
                            required
                            type="text"
                            id="email-569"
                            name="email"
                            placeholder="Email"
                        />
                    </label>
                    <label class="cs-label cs-message">
                        Message
                        <textarea
                            class="cs-input cs-textarea"
                            required
                            name="Message"
                            id="message-569"
                            placeholder="Écrivez votre message..."
                        ></textarea>
                    </label>
                    <button class="cs-submit" type="submit">Envoyer</button>
                </form>
            </div>
            <div class="cs-right">
                <!--Address-->
                <div class="cs-flex">
                    <span class="cs-header">Adresse</span>
                    <a href="" class="cs-link"
                        >6 rue Saint Martin<br />
                        78480 Verneuil-sur-Seine</a
                    >
                </div>
                <!--Contacts-->
                <div class="cs-flex">
                    <span class="cs-header">Téléphone</span>
                    <a href="" class="cs-link cs-phone">01 39 65 87 86</a>
                </div>
                <div class="cs-flex">
                    <span class="cs-header">Emails</span>
                    <p>
                        <strong>Secrétariat</strong><br />adm@clubdelangues.org
                    </p>
                    <p>
                        <strong>Gestion financière administrative</strong
                        ><br />gestion@clubdelangues.org
                    </p>
                    <p>
                        <strong>Direction</strong><br />asso@clubdelangues.org
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
