---
title: "Événements | Club de langues"
description: "Événements à venir"
permalink: "evenements/"
eleventyNavigation:
    key: Événements
    order: 600
---

{% extends "layouts/base.html" %}
{% from "components/eventSection.html" import eventSection %}

{% block head %}
    <!-- Any page-specific tags that belong in the <head>, such as a page-specific stylesheet -->
    <link rel="stylesheet" href="/assets/css/events.css" />
    <link rel="stylesheet" href="/assets/css/components/eventSection.css" />
{% endblock %}

{% block body %}
    {{ eventSection("Journée portes Ouvertes", events.jpoEvents) }}
    {{ eventSection("Forums", events.forumEvents) }}
    {{ eventSection("Stages", events.stageEvents) }}
{% endblock %}
