---
title: "Pixel Perfect Websites | Code Stitch Web Designs | Denver, CO"
description: "Meta description for the page"
preloadImg: "/assets/images/landing.jpg"
permalink: "/"
tags: "sitemap" # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
    key: Home
    order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css" />
    <link rel="stylesheet" href="/assets/css/critical.css" />

    <!-- JSON Schema Markup -->
    <!-- prettier-ignore-start -->
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "LocalBusiness",
            "name": "{{ client.name }}",
            {% if preloadImg %}"image": "{{ preloadImg }}",{% endif %}
            {% if client.phoneFormatted %}"telephone": "{{ client.phoneFormatted }}",{% endif %}
            {% if client.email %}"email": "{{ client.email }}",{% endif %}
            {% if client.address %}
                "address": {
                    "@type": "PostalAddress"{% if client.address.lineOne %},
                        "streetAddress": "{{ client.address.lineOne }}{% if client.address.lineTwo %}, {{ client.address.lineTwo }}{% endif %}"
                    {% endif %}
                    {% if client.address.city %},
                        "addressLocality": "{{ client.address.city }}"
                    {% endif %}
                    {% if client.address.state %},
                        "addressRegion": "{{ client.address.state }}"
                    {% endif %}
                    {% if client.address.zip %},
                        "postalCode": "{{ client.address.zip }}"
                    {% endif %}
                    {% if client.address.country %},
                        "addressCountry": "{{ client.address.country }}"
                    {% endif %}
                },
            {% endif %}
            {% if client.domain and page.url %}"url": "{{ client.domain }}{{ page.url }}",{% endif %}
            {% if client.socials %}
                "sameAs": [{% for platform, url in client.socials %}
                        {% if not loop.first %},{% endif %}
                        "{{ url }}"
                    {% endfor %}]
            {% endif %}
        }
    </script>
    <!-- prettier-ignore-end -->
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    Hero                      -->
    <!-- ============================================ -->

    <section id="hero-143">
        <div class="cs-container">
            <h1 class="cs-title">
                Construction & Maintenance Experts in New York City
            </h1>
            <p class="cs-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. At quis
                donec eget tellus turpis imperdiet aenean libero.
            </p>
            <a href="" class="cs-button-solid">Request Appointment</a>
        </div>

        <!-- Background Image -->
        <picture class="cs-background">
            <source
                media="(max-width: 600px)"
                srcset="
                    https://csimg.nyc3.digitaloceanspaces.com/Hero/kitchen-m.jpg
                "
            />
            <source
                media="(min-width: 601px)"
                srcset="
                    https://csimg.nyc3.digitaloceanspaces.com/Hero/kitchen.jpg
                "
            />
            <img
                loading="lazy"
                decoding="async"
                src="https://csimg.nyc3.digitaloceanspaces.com/Hero/kitchen.jpg"
                alt="kitchen"
                width="2250"
                height="1500"
                aria-hidden="true"
            />
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                   Services                   -->
    <!-- ============================================ -->

    <section id="h-services-143">
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-icon">
                    <img
                        loading="lazy"
                        decoding="async"
                        src="https://csimg.nyc3.digitaloceanspaces.com/Hero/toolbox.svg"
                        alt="icon"
                        width="52"
                        height="52"
                        aria-hidden="true"
                    />
                </picture>
                <h2 class="cs-title">Full Kitchen Remodel</h2>
                <p class="cs-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
            </li>
            <li class="cs-item">
                <picture class="cs-icon">
                    <img
                        loading="lazy"
                        decoding="async"
                        src="https://csimg.nyc3.digitaloceanspaces.com/Hero/buildings.svg"
                        alt="icon"
                        width="52"
                        height="52"
                        aria-hidden="true"
                    />
                </picture>
                <h2 class="cs-title">Exterior Repairs</h2>
                <p class="cs-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
            </li>
            <li class="cs-item">
                <picture class="cs-icon">
                    <img
                        loading="lazy"
                        decoding="async"
                        src="https://csimg.nyc3.digitaloceanspaces.com/Hero/gear.svg"
                        alt="icon"
                        width="52"
                        height="52"
                        aria-hidden="true"
                    />
                </picture>
                <h2 class="cs-title">Utility Maintenance</h2>
                <p class="cs-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
            </li>
            <li class="cs-item">
                <picture class="cs-icon">
                    <img
                        loading="lazy"
                        decoding="async"
                        src="https://csimg.nyc3.digitaloceanspaces.com/Hero/user.svg"
                        alt="icon"
                        width="52"
                        height="52"
                        aria-hidden="true"
                    />
                </picture>
                <h2 class="cs-title">Design Consultation</h2>
                <p class="cs-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
            </li>
        </ul>
    </section>

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs-1308">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-image-group">
                <!--Image-->
                <picture class="cs-picture">
                    <source
                        media="(max-width: 600px)"
                        srcset="
                            https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/tax1.jpg
                        "
                    />
                    <source
                        media="(min-width: 601px)"
                        srcset="
                            https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/tax1.jpg
                        "
                    />
                    <img
                        loading="lazy"
                        decoding="async"
                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/tax1.jpg"
                        alt="meeting"
                        width="630"
                        height="630"
                        aria-hidden="true"
                    />
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-content">
                <p class="cs-text">
                    In the new era of technology we look in the future with
                    certainty and pride for our company and business. consider
                    all the drivers of change gives you the blocks & pride for
                    our components you need to change to create a truly
                    professional website In the new era.
                </p>
                <a
                    class="cs-button-solid"
                    aria-label="learn more about our programs"
                    href=""
                    >Learn More</a
                >
            </div>
        </div>
    </section>
{% endblock %}
