---
title: "Pixel Perfect Websites | Code Stitch Web Designs | Denver, CO"
description: "Meta description for the page"
preloadImg: "/assets/images/landing.jpg"
permalink: "/"
tags: "sitemap" # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
    key: Accueil
    order: 100
---

{% extends "layouts/base.html" %}
{% from "components/sbs71.html" import sbs71 %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css" />
    <link rel="stylesheet" href="/assets/css/critical.css" />
    <link rel="stylesheet" href="/assets/css/components/sbs-71.css" />

    <!-- JSON Schema Markup -->
    <!-- prettier-ignore-start -->
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "LocalBusiness",
            "name": "{{ client.name }}",
            {% if preloadImg %}"image": "{{ preloadImg }}",{% endif %}
            {% if client.phoneFormatted %}"telephone": "{{ client.phoneFormatted }}",{% endif %}
            {% if client.email %}"email": "{{ client.email }}",{% endif %}
            {% if client.address %}
                "address": {
                    "@type": "PostalAddress"{% if client.address.lineOne %},
                        "streetAddress": "{{ client.address.lineOne }}{% if client.address.lineTwo %}, {{ client.address.lineTwo }}{% endif %}"
                    {% endif %}
                    {% if client.address.city %},
                        "addressLocality": "{{ client.address.city }}"
                    {% endif %}
                    {% if client.address.state %},
                        "addressRegion": "{{ client.address.state }}"
                    {% endif %}
                    {% if client.address.zip %},
                        "postalCode": "{{ client.address.zip }}"
                    {% endif %}
                    {% if client.address.country %},
                        "addressCountry": "{{ client.address.country }}"
                    {% endif %}
                },
            {% endif %}
            {% if client.domain and page.url %}"url": "{{ client.domain }}{{ page.url }}",{% endif %}
            {% if client.socials %}
                "sameAs": [{% for platform, url in client.socials %}
                        {% if not loop.first %},{% endif %}
                        "{{ url }}"
                    {% endfor %}]
            {% endif %}
        }
    </script>
    <!-- prettier-ignore-end -->
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    Hero                      -->
    <!-- ============================================ -->

    <section id="hero-143">
        <div class="cs-container">
            <h1 class="cs-title">
                Club de langues du Canton de Verneuil-sur-Seine
            </h1>
            <p class="cs-text">Verneuil-sur-Seine - Vernouillet</p>
            <a href="" class="cs-button-solid">Contactez nous</a>
        </div>

        <!-- Background Image -->
        <picture class="cs-background">
            <source
                media="(max-width: 600px)"
                srcset="
                    {% getUrl "/assets/images/world-map-hand-resized.jpg" | resize({width: 1200}) | webp %}
                "
            />
            <source
                media="(min-width: 601px)"
                srcset="
                    {% getUrl "/assets/images/world-map-hand-resized.jpg" | resize({width: 2400}) | webp %}
                "
            />
            <img
                loading="lazy"
                decoding="async"
                src="{% getUrl "/assets/images/world-map-hand-resized.jpg" %}"
                alt="kitchen"
                width="2250"
                height="1500"
                aria-hidden="true"
            />
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                 Services (hero)              -->
    <!-- ============================================ -->

    <section id="h-services-143">
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-icon">
                    <img
                        loading="lazy"
                        decoding="async"
                        src="https://csimg.nyc3.digitaloceanspaces.com/Hero/toolbox.svg"
                        alt="icon"
                        width="52"
                        height="52"
                        aria-hidden="true"
                    />
                </picture>
                <h2 class="cs-title">Cours collectifs</h2>
                <p class="cs-text">
                    Cours en petits groupes de niveau de 3 à 8 personnes
                </p>
            </li>
            <li class="cs-item">
                <picture class="cs-icon">
                    <img
                        loading="lazy"
                        decoding="async"
                        src="https://csimg.nyc3.digitaloceanspaces.com/Hero/buildings.svg"
                        alt="icon"
                        width="52"
                        height="52"
                        aria-hidden="true"
                    />
                </picture>
                <h2 class="cs-title">Cours particuliers</h2>
                <p class="cs-text">
                    Cours en face-à-face ou avec deux élèves de même niveau
                </p>
            </li>
            <li class="cs-item">
                <picture class="cs-icon">
                    <img
                        loading="lazy"
                        decoding="async"
                        src="https://csimg.nyc3.digitaloceanspaces.com/Hero/gear.svg"
                        alt="icon"
                        width="52"
                        height="52"
                        aria-hidden="true"
                    />
                </picture>
                <h2 class="cs-title">Stages</h2>
                <p class="cs-text">
                    Stages intensifs ou entraînements de préparation aux examens
                </p>
            </li>
            <li class="cs-item">
                <picture class="cs-icon">
                    <img
                        loading="lazy"
                        decoding="async"
                        src="https://csimg.nyc3.digitaloceanspaces.com/Hero/user.svg"
                        alt="icon"
                        width="52"
                        height="52"
                        aria-hidden="true"
                    />
                </picture>
                <h2 class="cs-title">Formation professionnelle</h2>
                <p class="cs-text">Formation professionnelle continue</p>
            </li>
        </ul>
    </section>

    {# Introduction section #}
    <!-- ============================================ -->
    <!--            sbs Introduction section          -->
    <!-- ============================================ -->

    <section id="sbs-1308">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-image-group">
                <!--Image-->
                <picture class="cs-picture">
                    <source
                        media="(max-width: 600px)"
                        srcset="/assets/images/logo-club-langues.jpg"
                    />
                    <source
                        media="(min-width: 601px)"
                        srcset="/assets/images/logo-club-langues.jpg"
                    />
                    <img
                        loading="lazy"
                        decoding="async"
                        src="/assets/images/logo-club-langues.jpg"
                        alt="meeting"
                        width="630"
                        height="630"
                        aria-hidden="true"
                    />
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-content">
                <p class="cs-text">
                    Association à but non-lucratif, le Club de langues du canton
                    de Verneuil sur Seine est un organisme d’Education Populaire
                    agréé depuis 1995 par la Direction de la Jeunesse et des
                    Sports, intégrée désormais dans la DDCS des Yvelines.
                </p>
                <p class="cs-text">
                    Il accueille des enfants à la recherche d’une
                    sensibilisation aux langues étrangères à partir de 4 ½ ans
                    et de progrès à l’oral par la suite, des étudiants à la
                    recherche de groupes de discussion dans les langues qu’ils
                    ont apprises et qu’ils maîtrisent plus ou moins bien,
                    d’adultes en activité à la recherche d’un perfectionnement
                    et d’une ouverture plus large à une culture étrangère
                    devenue professionnellement indispensable, de retraités à la
                    recherche d’un « hobby » intelligent (les adhérents les plus
                    âgés ont plus de 70 ans).
                </p>
                <p class="cs-text">
                    Au moyen de cours axés avant tout sur l'oral, en petits
                    groupes de niveau de 3 à 8 élèves ou de cours particuliers,
                    d'activités culturelles, éventuellement de voyages, le Club
                    de langues s'efforce de développer les liens entre personnes
                    de culture différente, et permet aux adultes comme aux
                    enfants, d'approfondir leurs connaissances de langues
                    étrangères et d'accéder à d'autres cultures.
                </p>
                <p class="cs-text">
                    Le Club est dirigé par un Conseil d'Administration de huit
                    bénévoles et emploie à temps partiel dix enseignants de
                    langue maternelle, ainsi qu’une secrétaire et un agent de
                    nettoyage.
                </p>
                <p class="cs-text">
                    Depuis près de 40 ans, le Club accueille jusqu’à 300
                    adhérents par an, dont les deux-tiers sont des jeunes de 4
                    ans et demi à 17 ans.
                </p>
                <a
                    class="cs-button-solid"
                    aria-label="learn more about our programs"
                    href=""
                    >En savoir plus</a
                >
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--            Sbs Languages section             -->
    <!-- ============================================ -->

    <section id="sbsr-92">
        <div class="cs-container">
            <!-- Left content Section -->
            <div class="cs-content">
                <h2 class="cs-title">Nos cours de langues</h2>
                <p class="cs-text">
                    Le Club de langues du canton de Verneuil-sur-Seine propose
                    des formations linguistiques pour tous les niveaux du Cadre
                    européen commun de référence (CECR), aussi bien pour les
                    particuliers que pour les entreprises. Pour les enfants,
                    après les premières années de sensibilisation et
                    d'imprégnation des petits, les groupes de niveau sont
                    constitués en fonction des connaissances acquises, mais
                    aussi de la tranche d’âge.
                </p>
                <p class="cs-text">
                    Des enseignants, généralement de langue maternelle, sont à
                    votre disposition pour vous aider à découvrir, apprendre ou
                    perfectionner l'anglais, l'allemand, l'arabe littéraire, le
                    chinois, l'espagnol, le français langue étrangère, l'italien
                    ou le russe.
                </p>
            </div>
            <!-- Right Content Section-->
            <div class="cs-content">
                <!--                   
    These "Micro Stitches" are to be placed inside the .cs-content group of Side By Side Stitches.  Typically after the .cs-title or .cs-text. They are used to add more design flair to a Stitch as well as convey more information in a different way.
-->

                <ul id="list-893" class="cs-ul">
                    <li class="cs-li">🇬🇧 Anglais</li>
                    <li class="cs-li">🇩🇪 Allemand</li>
                    <li class="cs-li">🇸🇦 Arabe littéraire</li>
                    <li class="cs-li">🇨🇳 Chinois</li>
                    <li class="cs-li">🇪🇸 Espagnol</li>
                    <li class="cs-li">🇮🇹 Italien</li>
                    <li class="cs-li">🇷🇺 Russe</li>
                    <li class="cs-li">🇫🇷 Français (langue étrangère)</li>
                </ul>
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                   Services (sbs71)           -->
    <!-- ============================================ -->

    {{
        sbs71(
            "RTsbs-71",
            "Cours collectifs",
            [
                "Les cours collectifs réunissent des petits groupes de niveau de 3 à 8 personnes et sont orientés principalement vers l'oral.",
                "Les groupes de 3 ou 4 adultes ou adolescents peuvent demander que le cours leur soit donné en visio."
            ],
            "/assets/images/cours-collectif.jpg"
        )
    }}
    {{
        sbs71(
            "RTsbsr-71",
            "Cours particuliers",
            [
                "Des cours particuliers, face-à-face ou avec deux élèves de même niveau, sont également possibles.",
                "Sur demande, ils peuvent être donnés en visio aux adultes et aux adolescents."
            ],
            "/assets/images/cours-particuliers.jpg"
        )
    }}
    {{
        sbs71(
        "RTsbs-71",
        "Stages",
            [
                "Stages intensifs ou entraînements de préparation aux examens (baccalauréat, TOEIC, GOETHE Institut, CIMA, HSK, DELE, DELF, CILS ou TRIKI)."
            ],
            "/assets/images/stages.jpg"
        )
    }}
    {{
        sbs71(
            "RTsbsr-71",
            "Formation professionnelle",
            [
                "Le Club de langues du canton de Verneuil-sur-Seine est aussi, depuis son origine, un organisme de formation professionnelle continue."
            ],
            "/assets/images/homme-costard.jpg"
        )
    }}

    <!-- ============================================ -->
    <!--          Cutlural activities section         -->
    <!-- ============================================ -->

    <section id="gallery-379">
        <div class="cs-container">
            <div class="cs-content">
                <h2 class="cs-title">Activités culturelles</h2>
                <p class="cs-text">
                    Afin de donner aux élèves un accès progressif à la culture
                    de la langue étudiée, les enseignants axent leurs cours au
                    moins une fois par trimestre sur un aspect de cette culture,
                    en sortant ainsi de l’enseignement exclusif de la langue.
                    Par ailleurs, au moins deux fois par an, ils proposent à
                    l’ensemble de leurs élèves, éventuellement groupés par
                    tranches d’âge, une activité culturelle en dehors des cours,
                    en relation avec la langue étudiée.
                </p>
            </div>
            <div class="cs-gallery">
                <!--Picture 1-->
                <picture class="cs-image">
                    <source
                        media="(max-width: 600px)"
                        srcset="
                            {% getUrl "/assets/images/theatre.jpg" | resize({width: 700, height: 900}) | webp %}
                        "
                    />
                    <source
                        media="(min-width: 601px)"
                        srcset="
                            {% getUrl "/assets/images/theatre.jpg" | resize({width: 700, height: 900}) | webp %}
                        "
                    />
                    <img
                        loading="lazy"
                        decoding="async"
                        src="{% getUrl "/assets/images/theatre.jpg" | resize({width: 700, height: 900}) | webp %}"
                        alt="gallery"
                        width="305"
                        height="400"
                    />
                </picture>
                <!--Picture 2-->
                <picture class="cs-image">
                    <source
                        media="(max-width: 600px)"
                        srcset="
                            {% getUrl "/assets/images/voyage-groupe.jpg" | resize({width: 700, height: 900}) | webp %}
                        "
                    />
                    <source
                        media="(min-width: 601px)"
                        srcset="
                            {% getUrl "/assets/images/voyage-groupe.jpg" | resize({width: 700, height: 900}) | webp %}
                        "
                    />
                    <img
                        loading="lazy"
                        decoding="async"
                        src="{% getUrl "/assets/images/voyage-groupe.jpg" | resize({width: 700, height: 900}) | webp %}"
                        alt="gallery"
                        width="305"
                        height="400"
                    />
                </picture>
                <!--Picture 3-->
                <picture class="cs-image">
                    <source
                        media="(max-width: 600px)"
                        srcset="
                            {% getUrl "/assets/images/exposition.jpg" | resize({width: 700, height: 900}) | webp %}
                        "
                    />
                    <source
                        media="(min-width: 601px)"
                        srcset="
                            {% getUrl "/assets/images/exposition.jpg" | resize({width: 700, height: 900}) | webp %}
                        "
                    />
                    <img
                        loading="lazy"
                        decoding="async"
                        src="{% getUrl "/assets/images/exposition.jpg" | resize({width: 700, height: 900}) | webp %}"
                        alt="gallery"
                        width="305"
                        height="400"
                    />
                </picture>
            </div>
            <a
                class="cs-button-solid"
                aria-label="learn more about our programs"
                href=""
                >En savoir plus</a
            >
        </div>
    </section>
{% endblock %}
