/*-- -------------------------- -->
<---        Content Page        -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #content-page-715 {
        padding: var(--sectionPadding);
        background-color: #fff;
        /* clips the wave background from causing overflow issues when it goes off screen */
        overflow: hidden;
        position: relative;
        z-index: 1;

        .cs-container {
            width: 100%;
            max-width: calc(1280 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
            position: relative;
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: calc(738 / 16 * 1rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
            margin: auto;

            img {
                width: 100%;
                height: auto;
                margin: calc(16 / 16 * 1rem) 0;
                display: block;
            }
        }
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-weight: 700;
            text-align: inherit;
            margin: 0 0 calc(16 / 16 * 1rem) 0;
            color: var(--headerColor);
        }

        h2 {
            font-size: calc(32 / 16 * 1rem);
            margin-top: calc(32 / 16 * 1rem);
        }

        h3 {
            font-size: calc(24 / 16 * 1rem);
            color: var(--primary);
        }

        h4,
        h5,
        h6 {
            font-size: calc(20 / 16 * 1rem);
        }

        .cs-button-solid {
            margin-bottom: calc(32 / 16 * 1rem);
        }

        .cs-color {
            color: var(--primary);
        }

        p {
            font-size: var(--bodyFontSize);
            line-height: 1.5em;
            text-align: inherit;
            width: 100%;
            margin: 0 0 calc(16 / 16 * 1rem) 0;
            color: var(--bodyTextColor);
            &:last-of-type {
                margin-bottom: calc(32 / 16 * 1rem);
            }

            a {
                font-size: inherit;
                line-height: inherit;
                text-decoration: underline;
                color: var(--primary);
            }
        }

        ol,
        ul {
            padding-left: calc(24 / 16 * 1rem);
            margin: 0 0 calc(32 / 16 * 1rem) 0;
            color: var(--bodyTextColor);
            display: flex;
            flex-direction: column;
            gap: calc(16 / 16 * 1rem);
        }

        ul {
            li {
                list-style: none;
                color: inherit;
                position: relative;

                &:before {
                    /* custom list bullet */
                    content: "";
                    width: 3px;
                    height: 3px;
                    background: currentColor;
                    opacity: 1;
                    border-radius: 50%;
                    position: absolute;
                    display: block;
                    top: calc(10 / 16 * 1rem);
                    left: calc(-12 / 16 * 1rem);
                }
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #content-page-715 {
        .cs-container {
            flex-direction: row;
            align-items: flex-start;
        }
    }
}

/* Large Desktop 1300px */
@media only screen and (min-width: 81.25rem) {

}                            